.home-container10 {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
 
.home-home {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-navbar {
  width: 100%;
  height: 94px;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
 
.home-branding {
  width: 180px;
  object-fit: cover;
}
 
.home-container11 {
  right: 110px;
  position: fixed;
}
 
.home-container12 {
  display: contents;
}
 
.home-video {
  top: 0px;
  left: 0px;
  width: 100%;
  filter: opacity(0.6);
  height: 100%;
  position: absolute;
  object-fit: cover;
}
 
.home-hero-content {
  gap: var(--dl-layout-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-header-container {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-container13 {
  width: 100%;
}
 
.home-container14 {
  display: contents;
}
 
.home-content {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.home-container15 {
  width: 100%;
  align-self: normal;
  font-style: normal;
}
 
.home-container16 {
  display: contents;
}
 
.home-stats {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-container17 {
  width: 100%;
  height: 100%;
}
 
.home-container18 {
  display: contents;
}
 
.home-cases {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.home-container19 {
  width: 100%;
}
 
.home-container20 {
  display: contents;
}
 
.home-faq {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.home-container21 {
  width: 100%;
}
 
.home-container22 {
  display: contents;
}
 
.home-social-media {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.home-container23 {
  width: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-image1 {
  height: 4rem;
}
 
.home-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-container24 {
  width: 200px;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 
.home-icon1 {
  fill: #D9D9D9;
}
 
.home-icon3 {
  fill: #D9D9D9;
}
 
.home-icon5 {
  fill: #D9D9D9;
}
 
.home-icon7 {
  fill: #D9D9D9;
}
 
@media(max-width: 991px) {
  .home-home {
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
  .home-container11 {
    top: 28px;
    right: 110px;
    position: fixed;
  }
  .home-hero-content {
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .home-header-container {
    width: 100%;
  }
  .home-container13 {
    width: 100%;
  }
  .home-content {
    width: 100%;
    align-self: flex-start;
  }
  .home-container15 {
    align-self: flex-start;
  }
  .home-container17 {
    width: 100vh;
  }
  .home-container23 {
    width: 60%;
  }
  .home-image1 {
    height: auto;
  }
  .home-social-links {
    width: 100%;
    align-self: center;
    justify-content: center;
  }
  .home-container24 {
    width: auto;
    height: 0.5re;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .home-icon1 {
    width: 50%;
    height: auto;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
  }
  .home-icon3 {
    width: 50%;
    height: auto;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
  }
  .home-icon5 {
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
  }
  .home-icon7 {
    width: 50%;
    height: auto;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
  }
}
 
@media(max-width: 767px) {
  .home-container11 {
    right: 120px;
    position: fixed;
  }
  .home-header-container {
    width: 100%;
  }
  .home-container13 {
    width: 100%;
  }
  .home-content {
    width: 100%;
  }
  .home-container15 {
    width: 100%;
    align-self: flex-start;
  }
  .home-container17 {
    width: 681px;
  }
}
 
@media(max-width: 479px) {
  .home-branding {
    width: 160px;
    padding-top: var(--dl-layout-space-unit);
  }
  .home-container11 {
    right: 110px;
  }
  .home-hero-content {
    gap: var(--dl-layout-space-threeunits);
    width: 100%;
  }
  .home-content {
    flex: 0 0 auto;
  }
  .home-container15 {
    flex: 0 0 auto;
  }
  .home-container17 {
    width: 478px;
    padding-bottom: 0px;
  }
  .home-image1 {
    height: 3rem;
  }
  .home-social-links {
    align-items: center;
    justify-content: center;
  }
}
